.col.s12.m4.l3
  = render 'list'

.col.s12.m8.l9
  %h4= @feed.name

  - @articles.each do |article|
    .card
      .card-content
        %span.card-title
          = article.title

        %p= article.summary.html_safe

      .card-action
        = link_to "Read More", article.url, target: "_blank"