- content_for(:side_panel) do
  = render 'list'

%h4= @feed.name

%span.right
  = link_to refresh_feed_path, class: "btn waves-effect waves-light tooltipped", data: { tooltip: "Refresh" } do
    %i.material-icons refresh
  = link_to @feed, method: :delete, class: "btn waves-effect waves-light tooltipped", data: { tooltip: "Unsubscribe" } do
    %i.material-icons delete

.clearfix

.cards-container
  = render partial: 'articles/article', collection: @feed.articles

